@using GymLog.Data.Enum
@using GymLog.ViewModels
@model IEnumerable<Excercise>


	<a asp-controller="Excercise" asp-action="Create" class="btn btn-sm btn-outline-info ">Create new Excercise</a>

    <table>
        <tr>
            <th width="7%">Id</th>
            <th>Name</th>
            <th>Engaged body parts</th>
        </tr>
        @foreach (var Item in @Model)
        {
            <tr>
                <td>
                    @Item.Id
                </td>
                <td>
                    @Item.Name
                </td>
                <td>
                    @if(@Item.BodyPartExcercises!=null)
                    {
                        @foreach (var part in Item.BodyParts)
                        {
                            @part.Name 
                        }
                    }
                    
                </td>
                <td>
                    <a asp-controller="Excercise" asp-action="Edit" asp-route-id="@Item.Id" class="btn btn-sm btn-outline-info">Edit</a>
                </td>
                <td>
                    <a asp-controller="Excercise" asp-action="Delete" asp-route-id="@Item.Id" class="btn btn-sm btn-outline-info">Delete</a>
                </td>
            </tr>
        }
    </table>
