@model IEnumerable<TemplateSegment>


	<a asp-controller="TemplateSegment" asp-action="Create" class="btn btn-sm btn-outline-info ">Create new Set Collection</a>
	@foreach(var Item in Model)
	{

		<h4>@Item.Id - @Item.Excercise.Name - @Item.Excercise.WeightType</h4>
		<h4> Order: @Item.Order</h4>
    <h4> Description: @Item.Description</h4>
    if (@Item.Template != null && @Item.Template.Name != null)
    {

        <h4>Template: @Item.TemplateId - @Item.Template.Name</h4>
    }

            if (Item.Sets != null)
            {
                <table>
                <tr>
                        <th width="7%">Set</th>
                    <th>Weight</th>
                    <th>Reps</th>
                </tr>
                @for (int i = 0; i < Item.Sets.Count; i++)
                {
                    <tr>
                            <td>@(i + 1)</td>
                        <td>
                             <div class="form-group">
                                <input asp-for="@Item.Sets[i].Weight" class="form-control" placeholder="Weight">
                                <span asp-validation-for="@Item.Sets[i].Weight" class="text-danger"></span>
                            </div>
                        </td>


                            <td>
                                <div class="form-group">
                                <input asp-for="@Item.Sets[i].Reps" class="form-control" placeholder="Reps">
                                <span asp-validation-for="@Item.Sets[i].Reps" class="text-danger"></span>
                                </div>
                            </td>
                    </tr>
                    <input asp-for="@Item.Sets[i].Id" type="hidden" class="form-control">
                }
                </table>
            }

        

		<a  asp-controller="TemplateSegment" asp-action="Edit" asp-route-id="@Item.Id" class="btn btn-sm btn-outline-info">Edit</a>
    <a asp-controller="TemplateSegment" method="post" asp-action="DeleteTemplateSegment" asp-route-id="@Item.Id" class="btn btn-sm btn-outline-info">Delete</a>

	}