@using GymLog.Data.Enum
@using GymLog.ViewModels
@model StatisticsVM


<h3>Statistics:</h3>
<ul>
    <li>
        Workouts: @Model.Workouts
    </li>
    <li>
        Sets: @Model.Sets
    </li>
    <li>
        Reps: @Model.Reps
    </li>
    <li>
        Weight: @Model.Weight kg
    </li>
    <li>
        Duration: @Model.Duration
    </li>
</ul>
