@using GymLog.ViewModels
@model TemplateVM
<h2>Create Workout Template</h2>

<form method="post" asp-action="Create" enctype="multipart/form-data">


    <input asp-for="@Model.Id" type="hidden" class="form-control">


    <div class="form-group">
        <label asp-for="@Model.Name">Name</label>
        <input asp-for="@Model.Name" class="form-control" placeholder="Name">
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
    @{
        if(Model.ExcerciseSetsVM != null)
        {
            
            @for (int i = 0; i < Model.ExcercisesConcatVM.Count; i++)
            {
                <input asp-for="@Model.ExcercisesConcatVM[i].Id" type="hidden" class="form-control" placeholder="ExcercisesConcatVM[i].Id">
                <input asp-for="@Model.ExcercisesConcatVM[i].Name" type="hidden" class="form-control" placeholder="ExcercisesConcatVM[i].Name">

            }
            for(int i = 0; i<Model.ExcerciseSetsVM.Count; i++)
            {
                if (Model.ExcercisesConcatVM != null)
                {

                    <div class="form-group">
                        <label asp-for="@Model.ExcerciseSetsVM[i].ExcerciseId">Excercise</label>
                        <select class="form-select-sm" asp-for="@Model.ExcerciseSetsVM[i].ExcerciseId"
                    asp-items="new SelectList(@Model.ExcercisesConcatVM, nameof(CreateExcerciseConcatVM.Id),
                    nameof(CreateExcerciseConcatVM.Name))">
                            <option>Please Select</option>
                        </select>
                        <span asp-validation-for="@Model.ExcerciseSetsVM[i].Excercise" class="text-danger"></span>
                            <button type="submit" formaction="/Template/RemoveExcerciseSetCreate?element=@i" class="btn btn-outline-danger">Remove Excercise</button>

                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ExcerciseSetsVM[i].Order">Order</label>
                        <input asp-for="@Model.ExcerciseSetsVM[i].Order" class="form-control" placeholder="Order">
                        <span asp-validation-for="@Model.ExcerciseSetsVM[i].Order" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ExcerciseSetsVM[i].Description">Description</label>
                        <input asp-for="@Model.ExcerciseSetsVM[i].Description" class="form-control" placeholder="Description">
                        <span asp-validation-for="@Model.ExcerciseSetsVM[i].Description" class="text-danger"></span>
                    </div>
                    <input asp-for="@Model.ExcerciseSetsVM[i].TemplateId" type="hidden" class="form-control">
                    @for (int j = 0; j < Model.ExcerciseSetsVM.Count; j++)
                    {
                        <input asp-for="@Model.ExcerciseSetsVM[j].Id" type="hidden" class="form-control" placeholder="ExcerciseSetsVM[j].Id">

                    }

                    if (@Model.ExcerciseSetsVM[i].SetsVM != null)
                    {
                        <table>
                            <tr>
                                <th width="7%">Set</th>
                                <th>Weight</th>
                                <th>Reps</th>
                            </tr>
                            @for (int j = 0; j < @Model.ExcerciseSetsVM[i].SetsVM.Count; j++)
                            {
                                <tr>
                                    <td>@(
                                        j + 1
                                        )</td>
                                    <td>
                                        <div class="form-group">
                                            <input asp-for="@Model.ExcerciseSetsVM[i].SetsVM[j].Weight" class="form-control" placeholder="Weight">
                                            <span asp-validation-for="@Model.ExcerciseSetsVM[i].SetsVM[j].Weight" class="text-danger"></span>
                                        </div>
                                    </td>


                                    <td>
                                        <div class="form-group">
                                            <input asp-for="@Model.ExcerciseSetsVM[i].SetsVM[j].Reps" class="form-control" placeholder="Reps">
                                            <span asp-validation-for="@Model.ExcerciseSetsVM[i].SetsVM[j].Reps" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                            <button type="submit" formaction="/Template/RemoveSetCreate?element=@i&set=@j" class="btn btn-outline-danger">RemoveSet</button>

                                        </td>

                                </tr>
                                <input asp-for="@Model.ExcerciseSetsVM[i].SetsVM[j].Id" type="hidden" class="form-control">
                            }
                        </table>
                    }
                    <button type="submit" formaction="/Template/AddSetCreate?set=@i" class="btn btn-outline-primary">AddSet</button>
                }
            }
        }
    }
    </div>
    </br>


    <button type="submit" formaction="/Template/AddExcerciseSetCreate" class="btn btn-outline-primary">Add Excercise</button>
    </br>
    </br>
    <button type="submit" formaction="/ExcerciseSet/CreateExcerciseSet" class="btn btn-primary">Submit</button>
</form>