@using GymLog.Data.Enum
@using GymLog.ViewModels
@model IEnumerable<Exercise>


<a asp-controller="Exercise" asp-action="Create" class="btn btn-sm btn-outline-info" style="margin-bottom:10px;">Create new Exercise</a>

    <table>
        <tr>
            <th width="7%">Id</th>
            <th>Name</th>
            <th>Engaged body parts</th>
        </tr>
        @foreach (var Item in @Model)
        {
            <tr>
                <td>
                    @Item.Id
                </td>
                <td>
                    @Item.Name
                </td>
                <td>
                    @if(@Item.BodyPartExercises!=null)
                    {
                        @foreach (var part in Item.BodyParts)
                        {
                        <span>@part.Name</span>
                        }
                    }
                    
                </td>
                <td id="tableButtons">
                    <a asp-controller="Exercise" asp-action="Edit" asp-route-id="@Item.Id" class="btn btn-sm btn-outline-info">Edit</a>
                </td>
                <td id="tableButtons">
                    <a asp-controller="Exercise" asp-action="Delete" asp-route-id="@Item.Id" class="btn btn-sm btn-outline-info">Delete</a>
                </td>
            </tr>
        }
    </table>

