@model IEnumerable<Set>


	<a asp-controller="Set" asp-action="Create" class="btn btn-sm btn-outline-info ">Create new Set</a>
	@foreach(var Item in Model)
	{
	<h4>Id - @Item.Id</h4>
	<h4>Weight - @Item.Weight</h4>
	<h4>Reps - @Item.Reps</h4>
	<h4>SetColID - @Item.TemplateSegmentId</h4>
	<a  asp-controller="Set" asp-action="Edit" asp-route-id="@Item.Id" class="btn btn-sm btn-outline-info">Edit</a>
	<a  asp-controller="Set" asp-action="Delete" asp-route-id="@Item.Id" class="btn btn-sm btn-outline-info">Delete</a>

	}