@model IEnumerable<Set>


	<a asp-controller="Set" asp-action="Create" class="btn btn-sm btn-outline-info ">Create new Set</a>

        <table>
        <tr>
            <th width="5%">Id</th>
            <th>Weight</th>
            <th>Reps</th>
            <th>TemplateSegmentId</th>
      </tr>
    @foreach (var Item in @Model)
    {
            <tr>
                <td>
                @Item.Id
                </td>
                <td>
                    @Item.Weight
                </td>
                <td>
                    @Item.Reps
                </td>
                <td>
                    @Item.TemplateSegmentId
                </td>
                <td id="tableButtons">
                    <a asp-controller="Set" asp-action="Edit" asp-route-id="@Item.Id" class="btn btn-sm btn-outline-info">Edit</a>
                </td>
                <td id="tableButtons">
                    <a asp-controller="Set" asp-action="Delete" asp-route-id="@Item.Id" class="btn btn-sm btn-outline-info">Delete</a>
                </td>
            </tr>
    }
    </table>