@using GymLog.ViewModels
@model TemplateVM




    <input asp-for="Id" type="hidden" class="form-control">
    <input asp-for="ActionName" type="hidden" class="form-control">


    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group"  >
    @{
        if(Model.TemplateSegmentsVM != null)
        {
            if(Model.ExcercisesConcatVM!=null){
            @for (int i = 0; i < Model.ExcercisesConcatVM.Count; i++)
            {
                <input asp-for="ExcercisesConcatVM[i].Id" type="hidden" class="form-control" placeholder="ExcercisesConcatVM[i].Id">
                <input asp-for="ExcercisesConcatVM[i].Name" type="hidden" class="form-control" placeholder="ExcercisesConcatVM[i].Name">

            }
        }
            for(int i = 0; i<Model.TemplateSegmentsVM.Count; i++)
            {
                
                if (Model.ExcercisesConcatVM != null)
                {
                    <div id="segment">
                        <input asp-for="TemplateSegmentsVM[i].Id" type="hidden" class="form-control">

                    <div class="form-group">
                        <label asp-for="@Model.TemplateSegmentsVM[i].ExcerciseId">Excercise</label>
                        <select class="form-select-sm" asp-for="@Model.TemplateSegmentsVM[i].ExcerciseId"
                    asp-items="new SelectList(@Model.ExcercisesConcatVM, nameof(CreateExcerciseConcatVM.Id),
                    nameof(CreateExcerciseConcatVM.Name))">
                            <option>Please Select</option>
                        </select>
                        <span asp-validation-for="@Model.TemplateSegmentsVM[i].Excercise" class="text-danger"></span>
                            <button type="submit" formaction="/Template/RemoveTemplateSegment?segment=@i" class="btn btn-outline-danger">Remove Excercise</button>

                    </div>
                    @*
                    <div class="form-group">
                        <label asp-for="@Model.TemplateSegmentsVM[i].Order">Order</label>
                        <input asp-for="@Model.TemplateSegmentsVM[i].Order" class="form-control" placeholder="Order">
                        <span asp-validation-for="@Model.TemplateSegmentsVM[i].Order" class="text-danger"></span>
                    </div>
                    *@
                    <div class="form-group">
                        <label asp-for="@Model.TemplateSegmentsVM[i].Description">Description</label>
                        <input asp-for="@Model.TemplateSegmentsVM[i].Description" class="form-control" placeholder="Description">
                        <span asp-validation-for="@Model.TemplateSegmentsVM[i].Description" class="text-danger"></span>
                    </div>
                    <input asp-for="@Model.TemplateSegmentsVM[i].TemplateId" type="hidden" class="form-control">
                    @for (int j = 0; j < Model.TemplateSegmentsVM.Count; j++)
                    {
                        <input asp-for="@Model.TemplateSegmentsVM[j].Id" type="hidden" class="form-control" placeholder="TemplateSegmentsVM[j].Id">

                    }

                    @if (@Model.TemplateSegmentsVM[i].SetsVM != null)
                    {
                        <table>
                            <tr>
                                <th width="7%">Set</th>
                                <th>Weight</th>
                                <th>Reps</th>
                            </tr>
                            @for (int j = 0; j < @Model.TemplateSegmentsVM[i].SetsVM.Count; j++)
                            {
                                <input asp-for="@Model.TemplateSegmentsVM[i].SetsVM[j].Id" type="hidden" class="form-control">
                                <input asp-for="@Model.TemplateSegmentsVM[i].SetsVM[j].TemplateSegmentId" type="hidden" class="form-control">

                                <tr>
                                    <td>@(
                                        j + 1
                                        )</td>
                                    <td>
                                        <div class="form-group">
                                            <input asp-for="@Model.TemplateSegmentsVM[i].SetsVM[j].Weight" class="form-control" placeholder="Weight">
                                            <span asp-validation-for="@Model.TemplateSegmentsVM[i].SetsVM[j].Weight" class="text-danger"></span>
                                        </div>
                                    </td>


                                    <td>
                                        <div class="form-group">
                                            <input asp-for="@Model.TemplateSegmentsVM[i].SetsVM[j].Reps" class="form-control" placeholder="Reps">
                                            <span asp-validation-for="@Model.TemplateSegmentsVM[i].SetsVM[j].Reps" class="text-danger"></span>
                                        </div>
                                    </td>
                                </tr>
                                <input asp-for="@Model.TemplateSegmentsVM[i].SetsVM[j].Id" type="hidden" class="form-control">
                            }
                        </table>
                    }
                    <button type="submit" formaction="/Template/AddSet?segment=@i" class="btn btn-outline-primary">+</button>
                    <button type="submit" formaction="/Template/RemoveSet?segment=@i" class="btn btn-outline-danger">-</button>

                </div>
                }
            }
        }
    }
    </div>
    </br>


    <button type="submit" formaction="/Template/AddTemplateSegment" class="btn btn-outline-primary">Add Excercise</button>
    </br>