@using GymLog.Data.Enum
@using GymLog.ViewModels
@model TemplateVM


    <input asp-for="Id" type="hidden" class="form-control">
    <input asp-for="ActionName" type="hidden" class="form-control">


    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
@if (Model.Exercises != null)
{
    @for (int i = 0; i < Model.Exercises.Count; i++)
    {
        <input asp-for="Exercises[i].Id" type="hidden" class="form-control">
        <input asp-for="Exercises[i].Name" type="hidden" class="form-control">
        <input asp-for="Exercises[i].ImageSrc" type="hidden" class="form-control">

    }
}

    <div class="form-group">
    @{
        if(Model.WorkoutSegmentsVM != null)
        {


            for (int i = 0; i < Model.WorkoutSegmentsVM.Count; i++)
            {


                <div id="segment">
                    <button id="removeButton" type="submit" formaction="/Template/RemoveWorkoutSegment?segment=@i" class="btn btn-outline-danger">Remove exercise</button>
                    <button type="button" class="openAnimationModalButton btn btn-sm btn-outline-secondary" style="float:right; margin: 10px;" data-id="@Model.WorkoutSegmentsVM[i].ExerciseId">
                        <img src="/images/icons/eye-50.png" / style="width:27px">
                    </button>
                    <div class="form-group">
                        @{

                            if (Model.WorkoutSegmentsVM[i].ExerciseId != 0 && Model.WorkoutSegmentsVM[i].ExerciseId != null)
                            {
                                <input asp-for="@Model.WorkoutSegmentsVM[i].ExerciseId" type="hidden" class="form-control">

                                <h3>@Model.Exercises.FirstOrDefault(x=>x.Id==@Model.WorkoutSegmentsVM[i].ExerciseId).Name</h3>
                            }
                        }
                        
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.WorkoutSegmentsVM[i].WeightType">Weight Type</label>
                        <select asp-for="@Model.WorkoutSegmentsVM[i].WeightType" asp-items="@Html.GetEnumSelectList<WeightType>()">
                            
                        </select>
                        <span asp-validation-for="@Model.WorkoutSegmentsVM[i].WeightType" class="text-danger"></span>
                    </div>
                    <input asp-for="WorkoutSegmentsVM[i].Id" type="hidden" class="form-control">

                    <div class="form-group">
                        <label asp-for="@Model.WorkoutSegmentsVM[i].Description">Description</label>
                        <input asp-for="@Model.WorkoutSegmentsVM[i].Description" class="form-control" placeholder="Description">
                        <span asp-validation-for="@Model.WorkoutSegmentsVM[i].Description" class="text-danger"></span>
                    </div>
                    <input asp-for="@Model.WorkoutSegmentsVM[i].TemplateId" type="hidden" class="form-control">
                    @for (int j = 0; j < Model.WorkoutSegmentsVM.Count; j++)
                    {
                        <input asp-for="@Model.WorkoutSegmentsVM[j].Id" type="hidden" class="form-control" placeholder="WorkoutSegmentsVM[j].Id">

                    }

                    @if (@Model.WorkoutSegmentsVM[i].SetsVM != null)
                    {
                        <table>
                            <tr class="noBorder">
                                <th width="7%">Set</th>
                                <th>Weight</th>
                                <th>Reps</th>
                            </tr>
                            @for (int j = 0; j < @Model.WorkoutSegmentsVM[i].SetsVM.Count; j++)
                            {
                                <input asp-for="@Model.WorkoutSegmentsVM[i].SetsVM[j].Id" type="hidden" class="form-control">
                                <input asp-for="@Model.WorkoutSegmentsVM[i].SetsVM[j].WorkoutSegmentId" type="hidden" class="form-control">

                                <tr class="noBorder">
                                    <td>@(j + 1)</td>
                                    <td>
                                        <div class="form-group">
                                            <input asp-for="@Model.WorkoutSegmentsVM[i].SetsVM[j].Weight" class="form-control" placeholder="Weight">
                                            <span asp-validation-for="@Model.WorkoutSegmentsVM[i].SetsVM[j].Weight" class="text-danger"></span>
                                        </div>
                                    </td>


                                    <td>
                                        <div class="form-group">
                                            <input asp-for="@Model.WorkoutSegmentsVM[i].SetsVM[j].Reps" class="form-control" placeholder="Reps">
                                            <span asp-validation-for="@Model.WorkoutSegmentsVM[i].SetsVM[j].Reps" class="text-danger"></span>
                                        </div>
                                    </td>
                                </tr>
                                <input asp-for="@Model.WorkoutSegmentsVM[i].SetsVM[j].Id" type="hidden" class="form-control">
                            }
                        </table>
                    }
                    <button type="submit" formaction="/Template/AddSet?segment=@i" class="btn btn-outline-primary">+</button>
                    <button type="submit" formaction="/Template/RemoveSet?segment=@i" class="btn btn-outline-danger">-</button>

                </div>
            }
            
        }
    }
    
    </div>
    </br>


<button type="button" id="openExercisesModalBtn" class="btn btn-primary">Add Exercise</button>




<div id="exercisesModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <label for="filterInput" style="color:white">Find Exercise</label></br>
        <input type="text" id="filterInput" autocomplete="off" />

        <table id="exerciseTable" style="margin: auto">
            <tbody>
                @foreach (var exercise in Model.Exercises)
                {
                    <tr class="noneBorder" style="margin: 0px;">
                        <td style="display:none;">@exercise.Id</td>
                        <td style="display:none;">@exercise.Name</td>
                        <td style="padding:0px;">
                            <button type="submit" formaction="/Template/AddWorkoutSegment?exerciseId=@exercise.Id" class="btn btn-dark">
                                <img src="@exercise.ImageSrc" alt="@exercise.Name" width="350">
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="animationModal" class="modal">
    <div class="modal-animation">
        <div>
            <img id="modalImage" alt="Zdjęcie">
        </div>
    </div>
</div>

