@using GymLog.Data.Enum
@using GymLog.ViewModels
@model WorkoutVM

    <input asp-for="TemplateId" type="hidden" class="form-control">
    <input asp-for="ActionName" type="hidden" class="form-control">



    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
    @{
        if(Model.WorkoutSegmentsVM != null)
        {
            @for (int i = 0; i < Model.Excercises.Count; i++)
            {
                <input asp-for="Excercises[i].Id" type="hidden" class="form-control">
                <input asp-for="Excercises[i].Name" type="hidden" class="form-control">

            }

            for (int i = 0; i < Model.WorkoutSegmentsVM.Count; i++)
            {


                <div id="segment">
                    <button id="removeButton" type="submit" formaction="/Workout/RemoveWorkoutSegment?segment=@i" class="btn btn-outline-danger">Remove excercise</button>

                    <div class="form-group">
                        <label asp-for="@Model.WorkoutSegmentsVM[i].ExcerciseId">Excercise</label>
                        <select asp-for="@Model.WorkoutSegmentsVM[i].ExcerciseId"
                    asp-items="new SelectList(@Model.Excercises, nameof(Excercise.Id),
                    nameof(Excercise.Name))">
                            <option>Select Excercise</option>
                        </select>
                        <span asp-validation-for="@Model.WorkoutSegmentsVM[i].Excercise" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.WorkoutSegmentsVM[i].WeightType">Weight Type</label>
                        <select asp-for="@Model.WorkoutSegmentsVM[i].WeightType" asp-items="@Html.GetEnumSelectList<WeightType>()">
                            <option>Select WeightType</option>
                        </select>
                        <span asp-validation-for="@Model.WorkoutSegmentsVM[i]WeightType" class="text-danger"></span>
                    </div>
                    <input asp-for="WorkoutSegmentsVM[i].Id" type="hidden" class="form-control">

                    <div class="form-group">
                        <label asp-for="@Model.WorkoutSegmentsVM[i].Description">Description</label>
                        <input asp-for="@Model.WorkoutSegmentsVM[i].Description" class="form-control" placeholder="Description">
                        <span asp-validation-for="@Model.WorkoutSegmentsVM[i].Description" class="text-danger"></span>
                    </div>
                    <input asp-for="@Model.WorkoutSegmentsVM[i].TemplateId" type="hidden" class="form-control">
                    @for (int j = 0; j < Model.WorkoutSegmentsVM.Count; j++)
                    {
                        <input asp-for="@Model.WorkoutSegmentsVM[j].Id" type="hidden" class="form-control" placeholder="WorkoutSegmentsVM[j].Id">

                    }

                    @if (@Model.WorkoutSegmentsVM[i].SetsVM != null)
                    {
                        <table >
                            <tr class="noBorder">
                                <th width="7%">Set</th>
                                <th>Weight</th>
                                <th>Reps</th>
                                <th></th>
                            </tr>
                            @for (int j = 0; j < @Model.WorkoutSegmentsVM[i].SetsVM.Count; j++)
                            {
                                <input asp-for="@Model.WorkoutSegmentsVM[i].SetsVM[j].Id" type="hidden" class="form-control">
                                <input asp-for="@Model.WorkoutSegmentsVM[i].SetsVM[j].WorkoutSegmentId" type="hidden" class="form-control">

                                <tr class="noBorder">
                                    <td>@(j + 1)</td>
                                    <td>
                                        <div class="form-group">
                                            <input asp-for="@Model.WorkoutSegmentsVM[i].SetsVM[j].Weight" class="form-control" placeholder="Weight">
                                            <span asp-validation-for="@Model.WorkoutSegmentsVM[i].SetsVM[j].Weight" class="text-danger"></span>
                                        </div>
                                    </td>


                                    <td>
                                        <div class="form-group">
                                            <input asp-for="@Model.WorkoutSegmentsVM[i].SetsVM[j].Reps" class="form-control" placeholder="Reps">
                                            <span asp-validation-for="@Model.WorkoutSegmentsVM[i].SetsVM[j].Reps" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="line">
                                            <input type="checkbox" class="my-checkbox-x2" asp-for="@Model.WorkoutSegmentsVM[i].SetsVM[j].isDone">
                                        </div>
                                    </td>

                                </tr>
                                <input asp-for="@Model.WorkoutSegmentsVM[i].SetsVM[j].Id" type="hidden" class="form-control">
                            }
                        </table>
                    }
                    <button type="submit" formaction="/Workout/AddSet?segment=@i" class="btn btn-outline-primary">+</button>
                    <button type="submit" formaction="/Workout/RemoveSet?segment=@i" class="btn btn-outline-danger">-</button>

                </div>
            }
            
        }
    }
    
    </div>
    </br>


    <button type="submit" formaction="/Workout/AddWorkoutSegment" class="btn btn-outline-primary">Add Excercise</button>
    