@using GymLog.Data.Enum
@using GymLog.ViewModels
@model IEnumerable<ExerciseVM>


<div style="text-align:center">
    <a id="openExercisesModalBtn" class="btn btn-sm btn-outline-info">Check progress of exercise</a>
</div>


<div id="exercisesModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <input type="text" id="filterInput" autocomplete="off" />

        <table id="exerciseTable" style="margin: auto">
            <tbody>
                @foreach (var exercise in Model)
                {
                    <tr class="noneBorder" style="margin: 0px;">
                        <td style="display:none;">@exercise.Id</td>
                        <td style="display:none;">@exercise.Name</td>
                        <td style="padding:0px;">
                                <button type="submit" class="exerciseProgressButton btn btn-dark" data-id="@exercise.Id">
                                    <img src="@exercise.ImageSrc" alt="@exercise.Name" width="300">
                                </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="exerciseProgressViewContainer"></div>


<script>
    $(document).ready(function () {
        $('.exerciseProgressButton').click(function () {
            var id = $(this).data('id');

            $.ajax({
                url: '@Url.Action("ExerciseProgress", "Home")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#exerciseProgressViewContainer').html(result);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });
</script>