@using GymLog.Data.Enum
@using GymLog.ViewModels
@model IEnumerable<ExerciseVM>



<a id="openModalBtn" class="btn btn-sm btn-outline-info">Check your max</a>


<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <input type="text" id="filterInput" autocomplete="off" />

        <table id="exerciseTable" style="margin: auto">
            <tbody>
                @foreach (var exercise in Model)
                {
                    <tr class="noneBorder" style="margin: 0px;">
                        <td style="display:none;">@exercise.Id</td>
                        <td style="display:none;">@exercise.Name</td>
                        <td style="padding:0px;">
                            <button type="submit" class="maxWeightButton btn btn-dark" data-id="@exercise.Id">@exercise.Name</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="maxWeightViewContainer"></div>


<script>
    $(document).ready(function () {
        $('.maxWeightButton').click(function () {
            var id = $(this).data('id');

            $.ajax({
					url: '@Url.Action("MaxWeight", "Home")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
						$('#maxWeightViewContainer').html(result);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });
</script>